# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.iml
.idea
.vscode
2023/01/build
2023/01/01.dSYM
2023/01/01
2024/01/01.dSYM
2024/01/build
2024/01/01
2024/Solutions
2024/Solutions.dSYM/Contents/Resources/DWARF/Solutions
*.yml
*.plist
2024/CMakeLists.txt
